html {
    font-family: "Karla", sans-serif;
    justify-items: center;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-width: 31.375rem;
    margin: 0;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 1rem;
    background-color: cadetblue;
    height: 31.25rem;
    width: 31.25rem;
    object-fit: cover;
}

.subtitle {
    font-size: 0.8rem;
    color: cadetblue;
}

@media (max-width: 28.125rem) {
    body {
        margin: 1rem;
    }

    img {
        height: 18rem;
        width: 18rem;
    }
}

/* 🤔 */
@media (min-width: 563px) and (max-width: 43.75rem) {
    img {
        height: 24rem;
        width: 24rem;
    }
}

.title {
    margin-top: 1rem;
}

.pages {
    display: flex;
    flex-direction: column;
    height: 15rem;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

/* Destacando palavras no texto */

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: rgb(204, 207, 37);
}

span {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}

h2 > a:hover {
    font-size: 1.7rem;
}

footer {
    color: gray;
    margin-bottom: 1rem;
}

/* Formatação das páginas */

.page-title > h1 {
    margin: 1rem;
}

i {
    margin-top: 1rem;
}
