html {
    font-family: "Karla", sans-serif;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

.title {
    margin-top: 1rem;
}

.pages {
    display: flex;
    flex-direction: column;
    height: 15rem;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    color: gray;
    margin-bottom: 1rem;
}
